# Workflow to build docker images for a specific branch
#
# You can use the GitHub CLI to trigger this workflow like so:
# gh workflow run docker-branch.yml -R timescale/timescaledb-docker -f branch=1-step-policy-alpha
#
# The built images will be uploaded to our timescaledev account on dockerhub.
# You can view them here: https://hub.docker.com/r/timescaledev/timescaledb/tags
#
#
name: Docker Image for specific branch

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'branch or tag to build'
        required: true

env:
  ORG: samagragovernance
  TS_VERSION: ${{ github.event.inputs.branch }}
  PLATFORM: linux/amd64

jobs:

  # Build Ubuntu TimescaleDB images for both TSL and OSS code.
  timescaledb:

    name: Docker ${{ github.event.inputs.branch }} PG${{ matrix.pg }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pg: [15]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: Linux available buildx platforms
      run: echo ${{ steps.buildx.outputs.platforms }}

    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USER }} --password-stdin

    - name: Build and push Docker image for Postgres
      run: make multi ORG=$ORG PG_VER=pg${{ matrix.pg }} TS_VERSION="${TS_VERSION}" PLATFORM=$PLATFORM TAG="-t samagragovernance/postgres:branch-${TS_VERSION}-pg${{ matrix.pg }}"

    - name: Push Docker image to DockerHub
      run: docker push samagragovernance/postgres:branch-${TS_VERSION}-pg${{ matrix.pg }}
